@import url(default.css);
header {
    height: 100px;
}
header h1 {
    float: left;
    margin: 33px;
}
header nav {
    float: right;
    max-width: 18px 0 0 0;
}
header nav ul li {
    float: left;
}
header nav ul li a {
    display: block;
    padding: 34px 25px;
    color: #1d1d1d;
    font-size: 20px;
    font-weight: 700;
}
.visual {
    height: 872px;
    background-image: url(../images/visual_bg.png);
    background-position: center bottom;
    background-repeat: no-repeat;
}
.visual h2 {
    float: right;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.45;
    letter-spacing: -1.09px;
    margin: 150px 202px 0 0;
    
}
.visual h2 span {
    color: #ffffff;
}
.food h2 {
    display: none;
}
.food .rowgroup1 {
    margin: 129px 0 119px 0;
}
.food .rowgroup1 img {
    float: left;
   
}
.food .rowgroup1 .menu {
    float: left;
    margin: 25px 0 0 40px;
}
.food .rowgroup2 {
    position: relative;
    /*absolute 정렬의 기준점
    - rowgroup2의 영역 안에서 left 왼쪽 top 상단 여백을 계산*/
}
.food .rowgroup2 .food_img01 {
    float: right;    
}
.food .rowgroup2 .food_img02 {
    position: absolute;
    left: 0;
    top: 332px;
}
.food .rowgroup2 .menu {
    /* menu를 감싸고 있는 rowgroup2가 position 속성을 가지고 있기 때문에
        rowgroup2를 기준으로 left 왼쪽 top 위쪽 위치를 계산 */
    position: absolute;
    text-align: right;
    left: 430px;
    top: 73px;

}
.food .menu h3 {
    margin: 0 0 15px 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.15;
}
.drink {
    margin: 400px 0 0 0;
    height: 678px;
    background-image: url(../images/drink_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
.drink h2 {
    display: none;
}
.drink ul {
    padding: 120px 0 0 0;
}
.drink ul li {
    float: left;
    margin: 0 40px 0 0;
}
.drink ul li:first-child {
    margin-top: 40px;
}
.drink ul li:last-child {
    margin-right: 0;
    margin-top: 40px;
}
.drink ul li a {
    display: block;
    width: 400px;
    height: 382px;
    padding: 0 26px; 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff
}
.drink ul li.drink01 a {
    background-image: url(../images/drink01.png);

}
.drink ul li.drink02 a {
    background-image: url(../images/drink02.png);
}
.drink ul li.drink03 a {
    background-image: url(../images/drink03.png);
}
.drink ul li a em {
    display: block;
    line-height: 1;
    font-size: 15px;
    font-weight: 100;
    padding: 15px 0 0 0;
}
.drink ul li a strong {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin: 232px 0 0 0;
}
.drink ul li a span {
    display: block;
    margin: 12px 0 0 0;
    font-size: 14px;
    font-weight: 100
}
.sns {
    margin: 250px 0 0 0;
}
.sns .wrapper {
    position: relative;
}
.sns .tit{
    position: absolute;
    left: 0;
    top: 7px;
}
.sns .tit h2 {
    margin: 0 0 10px 0;
    line-height: 1.15;
    font-size: 40px;
    font-weight: 700;
}
.sns .tit ul {
    margin: 20px 0 0 0;
}
.sns .tit ul li {
    float: left;
    margin: 0 10px 0 0;
}
.sns .tit ul li a {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #666666;
    border-radius: 27px;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0; /* 글자 숨김 */
}
.sns .tit ul li.insta a {
    background-image: url(../images/sns_insta.png);
}
.sns .tit ul li.twitter a {
    background-image: url(../images/sns_twitter.png);
}
.sns .tit ul li.facebook a {
    background-image: url(../images/sns_facebook.png);
}
.sns .list li {
    float: left;
    margin: 0 20px 20px 0;
}
.sns .list li:first-child {
    margin-left: 649px;
}
.sns .list li:nth-child(2) {
    margin-right: 0;
}
.sns .list li:nth-child(3) {
    clear: left;
}
.sns .list li:last-child {
    margin-right: 0;
}
.sns .list li a{
    display: block;
    /* img태그도 inline요소이기 때문에 행간이 적용되어
        하단에 여백이 발생한다. 이를 없애기 위해서
        글자크기와 행간을 모두 0을 준다 */
    font-size: 0;
    line-height: 0;
}
footer {
    margin: 130px 0 0 0;
    border-top: 1px solid #cccccc ;
    text-align: center
}
footer .flogo {
    margin: 79px 0 49px 0;
}
footer .fnav li {    
    /* float: left; li를 가운데 정렬 해야하는데 float가 들어간 요소는
        가운데 정렬이 안됨 display:inline-blok으로 인라인 요소를
        변경해서 li좌우로 배치하고 가운데 정렬이 적영됨 - 여백을 정확하게
        맞춰야하는 경우가 아니면 이런 방법을 사용함*/
    display: inline-block;
    position: relative;
}
footer .fnav li::after {
    position: absolute;
    right: -2px;
    top: 7px;
    width: 1px;
    height: 10px;
    background-color: #CCCCCC;
    content: "";
}
footer .fnav li:last-child::after {
    display: none;
}
footer .fnav li a {
    display: block;
    padding: 0 11px;
}
footer .finfo {
    margin: 25px 0 35px 0;
}
footer .finfo li {
    display: inline-block;
    position: relative;
    padding: 0 12px 0 0;
}
footer .finfo li::after {
    position: absolute;
    right: 4px;
    top: 7px;
    width: 1px;
    height: 10px;
    background-color: #CCCCCC;
    content: "";
}
footer .finfo li:last-child::after {
    display: none;
}
footer .copyright {
margin:  0 0 105px 0;    
}