@import url('default.css');

h1 {
    display: none;
}

.visual {
    height: 870px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    text-align: center;
}

.visual h2 {
    position: relative;
    padding: 324px 0 21px 0;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.1;
}
.visual h2::before {
    position: absolute;
    right: 50%;
    top: 327px;
    width: 55px;
    height: 261px;
    margin-right: 330px;
    border: 5px solid #fff;
    border-right: 0;
    content: "";
}
.visual h2::after {
    position: absolute;
    left: 50%;
    top: 327px;
    width: 55px;
    height: 261px;
    margin-left: 330px;
    border: 5px solid #fff;
    border-left: 0;
    content: "";
}
.visual p {
    font-size: 20px;
}

@media screen and (max-width:640px) {
    .visual {
        height: auto;
    }
    .visual h2 {
        padding: 145px 0 16px 0;
        font-size: 40px;
    }
    .visual h2::before {
       display: none;
    }
    .visual h2::after {
        display: none;
    }
    .visual p {
        font-size: 13px;
        padding: 0 0 140px 0;
    }
}

.river {
    margin: 117px 0 0 0;
}
.river .inner2 {
    position: relative;

}
.river h2 {
    float: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.river .inner {
    float: right;
    width: 730px;    
}
.river p {
    margin: 0 0 36px 0;
}
.river .more {
    position: absolute;
    left: 0;
    top: 210px;
}
.river .more::after {
    position: absolute;
    right: -100px;
    top: 11px;
    width: 100px;
    height: 1px;
    background-color: #666;
    content: "";
}

@media screen and (max-width:640px) {
    .river {
        margin: 86px 0 0 0;
    }
    .river h2 {
        float: none;
        font-size: 25px;
    }
    .river .inner {
        float: none;
        width: auto;    
    }
    .river p {
        margin: 10px 0 21px 0;
    }
    .river img {
        width: 100%;
    }
    .river .more {
        position: relative;
        left: auto;
        top: auto;
        margin: 21px 0 0 0;
        text-align: center;
    }
    .river .more a {
        display: inline-block;
        padding: 0 1px 3px 1px;
        border-bottom: 1px solid #666;
    }
    .river .more::after {
        display: none;
    }
}

.road {
    margin: 145px 0 0 0;
}
.road .inner {
    position: relative;
}
.road h2 {
    float: left;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.road .cnt {
    float: right;
    width: 730px;
    margin: 60px 0 0 0;
}
.road ul {
    margin: 112px 0 0 0;
}
.road ul li {
    float: left;
    width: 400px;
    height: 345px;
    padding: 110px 50px 0 50px;
    margin: 0 40px 0 0;
    color: #fff;
    text-align: center;
}
.road ul li:last-child {
    margin-right: 0;
}
.road ul li.road01 {
    background: url(../images/road01.png) no-repeat center center / cover;
}
.road ul li.road02 {
    background: url(../images/road02.png) no-repeat center center / cover;
}
.road ul li.road03 {
    background: url(../images/road03.png) no-repeat center center / cover;
}
.road ul li h3 {
    margin: 0 0 11px 0;
    font-size: 25px;
    font-weight: 700;
}
.road .more {
    position: absolute;
    left: 0;
    top: 210px;
}
.road .more::after {
    position: absolute;
    right: -100px;
    top: 11px;
    width: 100px;
    height: 1px;
    background-color: #666;
    content: "";
}

.garden {
    position: relative;
    margin: 114px 0 0 0;
}
.garden .inner {
    position: relative;
    z-index: 2;
    /* img 위에 배치하기 위해서 z-index를 줌
        z-index가 적용되게 하기 위해서는 position값이 필수 */
    background-color: rgba(9,104,124,0.95) ;
    width: 50%;
    height: 580px;
    margin: 0 0 0 50%;
    /* inner를 감싸는 garden영역의 넓이의 50%를 왼쪽 여백 */
    color: #fff;
}

.garden .inner .inner2 {
    width: 620px;
    padding: 106px 0 0 100px;
}
.garden h2 {
    margin: 0 0 40px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
}
.garden img {
    /* 이미지를 가운데 정렬 하기 위해서 */
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 1;
    margin-left: -960px; /* 이미지 넓이의 절반 */
}
.garden .more {
    position: absolute;
    left: calc(50% + 100px);
    top: 419px;
    z-index: 3;
    /* 청록색 배경 위에 배치 하기 위해서 z-index를 더 높은 숫자로 */
    color: #fff;
}
.garden .more::after {
    position: absolute;
    right: -100px;
    top: 11px;
    width: 100px;
    height: 1px;
    background-color: rgba(255,255,255,0.6);
    content: "";
}

@media screen and (max-width:640px) {
    .garden {
        margin: 80px 20px 0 20px;
    }
    .garden .inner {
        background-color: transparent;
        width: auto;
        height: auto;
        margin: 0 ;
        color: #3d3d3d;
    }
    
    .garden .inner .inner2 {
        width: auto;
        padding: 0 ;
    }
    .garden h2 {
        margin: 0 0 16px 0;
        font-size: 25px;
    }
    .garden img {
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        margin: 21px 0 21px 0;
    }
    .garden .more {
        position: relative;
        left: auto ;
        top: auto;
        color: #3d3d3d;
        text-align: center;
    }
    .garden .more a {
        display: inline-block;
        padding: 0 0 2px 0;
        border-bottom: 1px solid #666;
    }
    .garden .more::after {
        display: none;
    }
}

footer {
    text-align: center;
    color: #666;
}
footer ul{
    display: inline-block;
    margin: 62px 0 32px 0;
}
footer ul li {
    float: left;
margin: 0 10px 0 0;
}
footer ul li:last-child {
    margin-right: 0;
}
footer .copyright {
    margin: 0 0 80px 0;
}

@media screen and (max-width:640px) {
    footer {
        margin: 60px 0 0 0;
        background-color: #f4f4f4;
    }
    footer ul{
        margin: 49px 0 20px 0;
    }
    footer .copyright {
        margin: 0;
        padding: 0 0 52px 0;
    }
}