@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;300;400;700&display=swap');
/* main.css에 default.css 삽입 - 호출 */
@import url(default.css);
header {
    height: 100px;
    padding: 0 40px;
}
header h1 {
    float: left;
    margin: 25px 0 0 0;
}
header nav {
    float: right;
}
header nav ul {
    float: left;
    margin: 0 55px 0 0;
}
header nav ul li {
    float: left;
}
header nav ul li a {
    display: block;
    padding: 35px 35px;
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 700;
}
header nav .market {
    float: left;
    display: block;
    padding: 5px 22px 5px 47px;
    margin: 34px 0 0 10px;
    border: 1px solid #13A94F;
    border-radius: 22px;
    background-image: url(../images/market_ico.png);
    background-position: left 26px top 8px;
    background-repeat: no-repeat;
    color: #13A94F;
    font-size: 18px;
    font-weight: 700;
}
.visual {
    padding: 4px 40px ;
    color: #ffffff;
    font-family: 'Noto Serif KR', serif;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.visual .inner{
    height: 700px;
    background-image: url(../images/visual_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual strong {
    display: block;
    padding: 300px 0 0 0;
    font-size: 30px;
    font-weight: 700;
}
.visual h2 {
    margin: 0 0 5px 0;
    font-size: 50px;
    font-weight: 400;
}
.category .tit {
    color: #1d1d1d;
}

.category .tit strong {
    display: block;
    margin: 110px 0 0 0;
    font-weight: 700;
}
.category .tit h2 {
    margin: 0 0 40px 0;
    line-height: 1.1; /* strong과 h2 사이의 행간 때문에 발생한 여백 삭제*/
    font-size: 50px;
    font-weight: 300;
}