@import url('default.css');

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    /* position:absolute를 주면 요소가 inline-block이 된 것처럼
       내부에 콘텐츠가 존재하는 만큼의 넓이만 갖는다. */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #FFF;
}
header h1 {
    float: left;
    margin: 32px 255px 0 0;
}
header h1 a {
    display: block;
    width: 198px;
    height: 39px;
    background: url(../images/logo_w.svg) no-repeat center center / 100%;
    /* 로고를 영역에 꽉차게 하기 위해서 size를 넓이 100% 
       (높이는 비율이 맞게 알아서 - 높이를 안써주면 알아서 들어감 ) 
       cover는 배경을 영역에 빈틈없이 매꾸는 것이기때문에 로고가 짤림
    */
    font-size: 0;
    line-height: 0;
    /* 접근성때문에 로고의 대체텍스트로 쓸 글자 숨기기 */
}
header .gnb {
    float: left;
    margin: 15px 0 0 10px;
}
header .gnb button {
    display: none; /*모바일에서만 표시 - 메뉴 여는 버튼*/
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 20px 30px;
    font-size:  20px;
}
header .tnb {
    float: right;
    margin: 23px 0 0 0;
}
header .tnb ul li {
    float: left;

}
header .tnb ul li button {

}
header .tnb ul li button span {
    display: none; /* 설명문구 숨김 */
}
header .tnb ul li button i {
    padding: 10px;
    font-size: 34px;
    font-weight: 300;
}

/*@media 시작*/
@media screen and (max-width:640px) {
    header {
        width: 45px;
        min-width: auto;
    }
    header h1 {
        margin: 13px 0 0 0;
    }
    header h1 a {
        width: 113px;
        height: 22px;
    }
    header .gnb {
        float: right;
        margin: 9px 0 0 8px;
    }
    /* h1 / gnb / tnb
        코딩 순서가 위와 같을 때
        모든 요소에 float:right: 를 주면
        화면에 나타나는 순서는
        tnb / gnb / h1이 된다.
        --> float:right를 먼저 선언한 요소가 오른쪽 자리를 선점 
        */
    header .gnb button {
        display: block; /*모바일에서만 표시 - 메뉴 여는 버튼*/
    }
    header .gnb button span {
        display: none;
    }
    header .gnb button i {
        font-size: 24px;
        font-weight: 300;
    }
    header .gnb ul{
        display: none;
    }
    header .tnb {
        margin: 9px 0 0 0;
    }
    header .tnb ul li.mypage {
        display: none;
    }
    header .tnb ul li button i {
        padding: 0;
        font-size: 24px;
    }
}

/* @media 종료 */

.visial {
    height: 870px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #FFF;
    text-align: center;
}
.visial h2 {
    padding: 366px 0 9px 0;
    font-size: 50px;
    font-weight: 400;
}
.visial p {
    font-size: 17px;
}
.visial .txt_mobile { 
    display: none; /* 모바일에서만 보일 글자 */
}

@media screen and (max-width:640px){
    .visial {
        height: auto;
        padding: 0 0 79px 0;
    }
    .visial h2 {
        padding: 115px 0 9px 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
    }
    .visial h2 span {
        display: block;
    }
    .visial p {
        font-size: 13px;
    }
    .visial .txt_pc {
        display: none; /* pc에서만 보일 글자 */
    }
    .visial .txt_mobile { 
        display: block; /* 모바일에서만 보일 글자 */
    }
}/* media 종료 */

.book {
    margin: 113px 0 0 0;
}
.book .tit {
    float: left;
}
.book .tit h2 {
    margin: 11px 0 24px 0;
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 700;
}
.book .tit .btn {
    margin: 27px 0 0 0;
}
.book .tit .btn button {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #666;
}
.book .tit .btn button span {
    display: none;
}
.book .tit .btn button i {
    margin: 5px 0 0 0;
    font-size: 24px;
    font-weight: 300;
}
/* 
    컨텐츠 영역 밖으로 나가는 리스트 - 스크롤 (모바일)
    1. ul을 감싸는 div가 있어야함.
    2. ul을 감싸는 div는 overflow::auto 이어야함...(모바일)
        넓이와 높이를 입력
    3. ul은 li 전체의 넓이를 가져야함 --> 모든 li 한줄로 좌우로 들어가야함
        position:absolute(포지션:앱솔루트) (모바일) - 좌우로 슬라이드는 absolute(엡솔루트) 만됨
 */
.book .list {
    margin-left: 330px;
}
/*
    왼쪽요소는 float:left를 줌
    오른쪽 요소는 margin-left로 왼쪽 요소의 넓이 만큼을 여백으로 준다.
    오른쪽 요소는 block임..
    오른쪽 요소가 왼쪽요소를 인지하지 못하고 위로 올라옴.
*/
.book .list ul {
    width: 1940px; /* 모든 li가 한줄로 들어갈 수 있는 넓이 */
}
.book .list ul li {
    float: left;
    width: 290px;
    margin-right: 40px;
}
.book .list ul li:last-child {
    margin-right: 0;
}
.book .list ul li a {
    display: block;
}
.book .list ul li a img {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.book .list ul li a .subject {
    margin: 20px 0 0 0;
    display: block;
    font-size: 20px;
    font-weight: 400;
    /* 무조건 1줄로 표시 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a .writer {
    margin: 10px 0 25px 0;
    display: block;
    color: #666;
}
.book .list ul li a .cnt {
    display: block;
    /* 여러줄 */
    line-height: 1,5;
    height: 4.5em;
    overflow: hidden;
}