@import url('default.css');

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    min-width: 1280px;
    /* position:absolute를 주면 요소가 inline-block이 된 것처럼
       내부에 콘텐츠가 존재하는 만큼의 넓이만 갖는다. */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    color: #FFF;
}
header h1 {
    float: left;
    margin: 32px 255px 0 0;
}
header h1 a {
    display: block;
    width: 198px;
    height: 39px;
    background: url(../images/logo_w.svg) no-repeat center center / 100%;
    /* 로고를 영역에 꽉차게 하기 위해서 size를 넓이 100% 
       (높이는 비율이 맞게 알아서 - 높이를 안써주면 알아서 들어감 ) 
       cover는 배경을 영역에 빈틈없이 매꾸는 것이기때문에 로고가 짤림
    */
    font-size: 0;
    line-height: 0;
    /* 접근성때문에 로고의 대체텍스트로 쓸 글자 숨기기 */
}
header .gnb {
    float: left;
    margin: 16px 0 0 0;
}
header .gnb button {
    display: none; /* 모바일에서만 표시 - 메뉴 여는 버튼 */
}
header .gnb ul li {
    float: left;
}
header .gnb ul li a {
    display: block;
    padding: 20px 30px;
    font-size: 22px;
}
header .tnb {
    float: right;
    margin: 26px 0 0 0;
}
header .tnb ul li {
    float: left;
}

header .tnb ul li button span {
    display: none; /* 설명문구 숨김 */
}
header .tnb ul li button i {
    padding: 10px;
    font-size: 34px;
    font-weight: 300;
}
/* header에 fixed클래스가 추가되었을때의 디자인 */


header.fixed {
    position: fixed; /* 스크롤을 내려도 그 위치 그대로 */
    z-index: 100;
    border-bottom: none;
    background-color: #756752
}
header.fixed h1 {
    float: left;
    margin: 32px 255px 0 0;
}
header.fixed h1 a {
    display: block;
    width: 198px;
    height: 39px;
    background: url(../images/logo_w.svg) no-repeat center center / 100%;
    /* 로고를 영역에 꽉차게 하기 위해서 size를 넓이 100% 
       (높이는 비율이 맞게 알아서 - 높이를 안써주면 알아서 들어감 ) 
       cover는 배경을 영역에 빈틈없이 매꾸는 것이기때문에 로고가 짤림
    */
    font-size: 0;
    line-height: 0;
    /* 접근성때문에 로고의 대체텍스트로 쓸 글자 숨기기 */
}
header.fixed .gnb {
    float: left;
    margin: 16px 0 0 0;
}
header.fixed .gnb button {
    display: none; /* 모바일에서만 표시 - 메뉴 여는 버튼 */
}
header.fixed .gnb ul li {
    float: left;
}
header.fixed .gnb ul li a {
    display: block;
    padding: 20px 30px;
    font-size: 22px;
}
header.fixed .tnb {
    float: right;
    margin: 26px 0 0 0;
}
header.fixed .tnb ul li {
    float: left;
}


@media screen and (max-width:640px){
    header {
        height: 45px;
        min-width: auto;
    }
    header h1 {
        margin: 13px 0 0 0;
    }
    header h1 a {
        width: 113px;
        height: 22px;
    }
    header .gnb {
        float: right;
        margin: 9px 0 0 8px;
    }
    /*
        h1 / gnb / tnb
        코딩 순서가 위와 같을 때
        모든 요소에 float:right를 주면 
        화면에 나타나는 순서는 
        tnb / gnb / h1이 된다. 
        --> float:right를 먼저 선언한 요소가 오른쪽 자리를 선점
    */
    header .gnb button {
        display: block; /* 모바일에서만 표시 - 메뉴 여는 버튼 */
    }
    header .gnb button span {
        display: none;
    }
    header .gnb button i {
        font-size: 24px;
        font-weight: 300;
    }
    header .gnb ul {
        display: none;
    }
    header .tnb {
        margin: 9px 0 0 0;
    }
    header .tnb ul li.mypage {
        display: none;
    }
    header .tnb ul li button i {
        padding: 0;
        font-size: 24px;
    }
}/* media 종료 */

.visial {
    height: 870px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #FFF;
    text-align: center;
}
.visial h2 {
    padding: 366px 0 9px 0;
    font-size: 50px;
    font-weight: 400;
}
.visial p {
    font-size: 17px;
}
.visial .txt_mobile { 
    display: none; /* 모바일에서만 보일 글자 */
}

@media screen and (max-width:640px){
    .visial {
        height: auto;
        padding: 0 0 79px 0;
    }
    .visial h2 {
        padding: 115px 0 9px 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
    }
    .visial h2 span {
        display: block;
    }
    .visial p {
        font-size: 13px;
    }
    .visial .txt_pc {
        display: none; /* pc에서만 보일 글자 */
    }
    .visial .txt_mobile { 
        display: block; /* 모바일에서만 보일 글자 */
    }
}/* media 종료 */

.book {
    margin: 112px 0 135px 0;
}
.book .tit {
    float: left;
}
.book .tit h2 {
    margin: 5px 0 16px 0;
    color: #1D1D1D;
    font-size: 50px;
    font-weight: 700;
}
.book .tit .btn {
    margin: 27px 0 0 0;
}
.book .tit .btn button {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #666;
}
.book .tit .btn button span {
    display: none;
}
.book .tit .btn button i {
    margin: 5px 0 0 0;
    font-size: 24px;
    font-weight: 300;
}

/*
    컨텐츠 영역 밖으로 나가는 리스트 - 스크롤 (모바일)
    1. ul을 감싸는 div가 있어야함.
    2. ul을 감싸는 div는 overflow:auto 이어야함... (모바일)
       넓이와 높이를 입력
    3. ul은 li 전체의 넓이를 가져야함 ---> 모든 li 한줄로 좌우로 들어가야함
       position:absolute (모바일) - 좌우로 슬라이드는 absolute만됨
*/

.book .list {
    margin-left: 330px;
}
/*
    왼쪽요소는 float:left를 줌
    오른쪽 요소는 margin-left로 왼쪽 요소의 넓이 만큼을 여백으로 준다.
    오른쪽 요소는 block임..
    오른쪽 요소가 왼쪽요소를 인지하지 못하고 위로 올라옴.
*/
.book .list ul {
    width: 1980px; /* 모든 li가 한줄로 들어갈 수 있는 넓이 */
}
.book .list ul li {
    float: left;
    width: 290px;
    margin-right: 40px;
}

.book .list ul li a {
    display: block;
}
.book .list ul li a img {
    /* border: 1px solid #666; */
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}
.book .list ul li a .subject {
    display: block;
    margin: 15px 0 10px 0;
    font-size: 20px;
    font-weight: 400;
    /* 무조건 1줄로 표시 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a .writer {
    display: block;
    color: #666666;
    /* 무조건 1줄로 표시 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book .list ul li a .cnt {
    display: block;
    margin: 28px 0 0 0;
    /* 여러줄 */
    line-height: 1.5;
    height: 4.5em;
    overflow: hidden;
}

@media screen and (max-width:640px){
    .book {
        margin: 46px 0 62px 0;
    }
    .book .tit {
        float: none;
    }
    .book .tit h2 {
        float: left;
        margin: 0;
        font-size: 30px;
    }
    .book .tit p {
        display: none; /* 모바일 숨김 */
    }
    .book .tit .btn {
        float: right;
        margin: 9px 0 0 0;
    }
    .book .tit .btn button {
        width: 25px;
        height: 25px;
        margin-right: 3px;
    }
    .book .tit .btn button i {
        margin: 4px 0 0 0;
        font-size: 15px;
    }
    
    .book .list {
        overflow-y: hidden; 
        /* 가로스크롤바가 생성되면, 
        가로스크롤 만큼 높이가 줄어서 
        세로 스크롤바가 생성되기도 함, 그걸 방지 */
        overflow-x: auto;
        width: calc(100% + 20px); 
        /*
            calc는 넓이나 높이의 수치를 계산할때 사용
            대부분 %와 px를 혼용할 때 사용
            list에 100%를 주면 wrapper가 좌우에 여백 20px을
            준 안쪽으로 넓이가 생성된다.
            그런데 오른쪽만 콘텐츠 영역 밖으로 더 나가고자 하면
            calc(100% + 20px)
        */
        padding: 10px 0;
        margin-left: 0;
    }
    .book .list ul {
        width: 1020px; /* 모든 li가 한줄로 들어갈 수 있는 넓이 */
    }
    .book .list ul li {
        width: 150px;
        margin-right: 20px;
    }
    .book .list ul li a img {
        width: 100%;
        box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    }
    .book .list ul li a .subject {
        margin: 7px 0 10px 0;
        font-size: 15px;
        white-space: normal;
        line-height: 1.5;
        height: 3em;
        /* 1줄 -> 2줄 */
    }
    .book .list ul li a .cnt {
        display: none;
    }
}/* media 종료 */

.interview {
    padding: 0 0 140px 0;
    background-color: #F8F5F0;
}
.interview  h2 {
    padding: 79px 0 56px 0;
    color: #1D1D1D;
    font-size: 50px;
    font-weight: 700;
}
.interview .colgroup {
    position: relative; /* pic_box 정렬의 기준점 */
}
.interview .pic_box {
    position: absolute;
    left: 0;
    top: 48px;
}
.interview .cnt_box {
    height: 382px;
    margin: 0 0 0 70px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.interview .cnt_box .inner {
    padding: 68px 70px 0 620px;
}
.interview .cnt_box h3 {
    margin: 0 0 20px 0;
    font-size: 30px;
    font-weight: 400;
}
.interview .cnt_box p {
    margin: 0 0 30px 0;
}
.interview .cnt_box a {
    display: block;
    width: 160px;
    height: 40px;
    padding: 0 2px 0 10px;
    line-height: 40px;
    white-space: nowrap;
    /* 버튼디자인에서 글자를 높이의 위아래 가운데
      배치하기 위해서는 제일 쉬운 방법인 행간을
      높이값과 동일하게 주는 것이다. */    
    border: 1px solid #666;
}
.interview .cnt_box a span {
    float: left;
}
.interview .cnt_box a i {
    float: right;
    margin: 7px 0 0 0;
}

@media screen and (max-width:640px){
    .interview {
        padding: 0 0 48px 0;
    }
    .interview  h2 {
        padding: 50px 0 18px 0;
        font-size: 30px;
    }
    .interview .pic_box {
        position: relative;
        left: auto;
        top: auto;
    }
    .interview .pic_box::after {
        position: absolute;
        left: -20px;
        bottom: 0;
        width: calc(100% + 40px);
        height: 40%;
        background-color: #756752;
        content: "";
    }
    .interview .pic_box img {
        width: 100%;
        position: relative;
        z-index: 1;
    }
    .interview .cnt_box {
        width: calc(100% + 40px);
        height: auto;
        margin: 0 0 0 -20px;
        background-color: #756752;
        box-shadow: none;
        color: #fff;
    }
    .interview .cnt_box .inner {
        padding: 18px 20px 40px 20px;
    }
    .interview .cnt_box h3 {
        margin: 0 0 14px 0;
        font-size: 20px;
    }
    .interview .cnt_box p {
        margin: 0 0 21px 0;
    }
    .interview .cnt_box a {
        width: 116px;
        height: 26px;
        padding: 0 0 0 5px;
        line-height: 26px;
    }
    .interview .cnt_box a i {
        margin: 2px 0 0 0;
    }
}

.news {
    margin: 124px 0 0 0;
}
.news .tit h2 {
    float: left;
    color: #1D1D1D;
    font-size: 50px;
    font-weight: 700;
}
.news .tit .btn {
    float: right;
    margin: 26px 0 0 0
}
.news .tit .btn button {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #666;
}
.news .tit .btn button span {
    display: none;
}
.news .tit .btn button i {
    margin: 5px 0 0 0;
    font-size: 24px;
    font-weight: 300;
}
.news .list {
    padding: 30px 0 0 0;
}
.news .list ul {
    /* li넓이 290 + 여백 40 =330 * 8개 */
    width: 2640px;
    margin:  0 0 0 -330px;
}
.news .list ul li {
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.news .list ul li a {
    display: block;
}
.news .list ul li a img {
    width: 100%;
}
.news .list ul li a .subject {
    display: block;
    margin: 16px 0 14px 0;
    font-size: 17px;
    font-weight: 700;
        /* 최대 2줄 */
        line-height: 1,5;
        max-height: 3em;
        overflow: hidden;

    /* 
    무조건 1줄 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    */

    /* 무조건 2줄 
    line-height: 1,5;
    height: 3em;
    overflow: hidden;
    */
}
.news .list ul li a .cnt {
    display: block;
    line-height: 1,5;
    max-height: 4.5em;
    overflow: hidden;
}

/* 모바일 시작 */
@media screen and (max-width:640px) {
    .news {
        margin: 70px 0 0 0;
    }
    .news .tit h2 {
        font-size: 30px;
    }
    .news .tit .btn {
        margin: 0;
    }
    .news .tit .btn button {
        width: 25px;
        height: 25px;
        margin-right: 3px;
    }
    .news .tit .btn button i {
        margin: 4px 0 0 0;
        font-size: 15px;
    }
    .news .list {
        overflow-y: hidden;
        overflow-x: auto;
        width: calc(100% + 40px);
        padding: 10px 0 10px 0;

        /* 왼쪽으로 20px 이동 
            첫번째
            position: relative;
            left: -20px;
            */

        margin: 0 0 0 -20px;
    }
    .news .list ul {
        /* li넓이 200 + 여백 20 = 220 * 8개 */
        width: 1760px;
        margin:  0 0 0 20px;
    }
    .news .list ul li {
        width: 200px;
        margin: 0 20px 0 0;
    }
    .news .list ul li a .subject {
        margin: 10px 0 10px 0;
        font-size: 15px;
    
        /* 
        무조건 1줄 
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        */
    
        /* 무조건 2줄 
        line-height: 1,5;
        height: 3em;
        overflow: hidden;
        */
    }
    .news .list ul li a .cnt {
        display: block;
        /* 최대 2줄 */
        line-height: 1,5;
        max-height: 4.5em;
        overflow: hidden;
    }
}
/* 모바일 끝 */

footer {
    padding: 78px 0 69px 0;
    margin: 140px 0 0 0;
    background-color: #756752;
    color: rgba(255,255,255,0.8);
}
footer .flogo {
    float: left;
}
footer .flogo img {
    width: 180px;
    opacity: 0.8;
}
footer .fnav {
    float: left;
}
footer .sns {
    float: right;
}
footer .sns a {
    display: inline-block
    width: 40px;
    heigh: 40px
    /* 글자 없애기 */
    font-size: 0;
    line-height : 0;
}

footer .sns a.insta {
    background: url(../images/sns_insta.svg) no-repeat center center;
}
footer .sns a.facebook {
    background: url(../images/sns_facebook.svg) no-repeat center center;
}
footer .sns a.naver {
    background: url(../images/sns_naver.svg) no-repeat center center;
}
footer .copyright {
    float: left;
}

@media screen and (max-width:640px){
    footer {
        padding: 38px 0 53px 0;
        margin: 70px 0 0 0;
        text-align: center;
    footer .flogo {
        float: none;
    }
    footer .flogo img {
        width: 180px;
    }
    footer .fnav ul li a {
        float: none;
        margin: 21px 0 28px 0;
    }
    footer .sns {
        float: right;
    }
    footer .sns a {
        display: inline-block
        width: 40px;
        heigh: 40px
        /* 글자 없애기 */
        font-size: 0;
        line-height : 0;
    }
    
    footer .sns a.insta {
        background-size: 2 0px auto;
    }
    footer .sns a.facebook {
        background-size: 10px auto;
    }
    footer .sns a.naver {
        background-size: 17px auto;
    }
    footer .copyright {
        float: none;
        margin: 22px 0 0 0;
    }
}