@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #3D3D3D;
    font-weight: 400;
    letter-spacing: -0.06em;
    line-height: 1.5;
    word-break: keep-all;
}
/* body에 기본 글자의 스타일을 설정 - 
   body안에 있는 모든 태그는 글자의 스타일을 상속 받는다 */

* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1280px;
    margin: 0 auto; /* 가운데 정렬 */
}
h1 {
    font-size: 25px;
    color: #1D1D1D;
    font-weight: 700;
    margin: 56px 0 35px 0;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    margin: 38px 0 5px 0;
}
p{
    margin: 5px 0 15px 0;
}
.color {
    background: #F4F4F4;
    padding: 1px 0 60px 0;
    margin: 100px 0 0 0;
}
ul {
    list-style: none;
}
h3 {
    font-weight: 700;
    margin: 50px 0 5px 0;
}
.system {
    display: flex;
}
li {
    width: 300px;
    height: 184px;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
    padding: 120px 0 0 40px;
    box-sizing: border-box; /*넓이와 높이를 유지*/
}
.teal {
    background: #043B5A;
}
.blue {background: #71C5E8;
    margin: 0 20px 0 0;
}
.green{
    background: #71DBD4;
    margin: 0 20px 0 0;
}
.yellow{
    background: #F8E08E;
}
ul {
    display: flex;
}
.pri{
    margin: 0 40px 0 0;
}