@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+KR);
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 400;
    letter-spacing: -0.06em;
    line-height: 1.5;
    word-break: keep-all;
}
/* body에 기본 글자의 스타일을 설정 - 
   body안에 있는 모든 태그는 글자의 스타일을 상속 받는다 */

* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.wrapper {
    width: 1280px;
    margin: 0 auto; /* 가운데 정렬 */
}
.recruit {
    background-image: url(../images/recruit.png);
    background-position: center center;
    height: 533px;
}
.tit {
    font-size: 35px;
    text-align: center;
    padding: 93px 0 41px 0;
    text-align: center;
}
ul {
    display: flex;
}
li {
    width: 290px;
    margin: 0 40px 0 0;
}
.last {
    margin: 0;
}
h1 {
    font-size: 15px;
}