@import url('default.css');

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    color: #fff;
}
header h1 {
    float: left;
    margin: 35px 0 0 0;
}
header h1 a {
    display: block;
    width: 129px;
    height: 44px;
    background: url(../images/logo_w.svg) no-repeat left top / 100% auto;
    /* 영역에 맞춰서 들어가는 로고는 짤리면 안됨 (cover X)
        그래서 (size)사이즈가 100% 넓이에 꽉차게 auto 높이 비율에 맞게 알아서*/
    font-size: 0;
    line-height: 0;
}
header nav {
    float: right;
    margin: 17px 0 0 0;
}
header nav .gnb_open {
    display: none;
}
header nav .gnb_close {
    display: none;
}
/*
    <nav>
        <ul>
            <li>
                <a hre="#">1차 메뉴</a>
                <ul>
                <li><a href="#">2차 메뉴</a><li>
                </ul>
            <li>
        <ul>
    <nav>
    이렇게 동일한 태그가 반복되는 경우 (메뉴) 사용하는게 자식 선택자
    1. 자식선택의 시작이 반복되는 태그X, nav처럼 한번 나오는 태그만 가능
    2. 자식의선택으로 선택 시 중간에 감싸는 태그를 누락할 수 없음
        nav > ul > ul ==> 선택 불가
    그래서 1차메뉴의 a를 선택하는 선택자는 nav > ul > li > a
    2차메뉴의  a를 선택하는 선택자는 nav > ul > li > ul > li > a
*/
header nav > ul > li    /* 1차메뉴 li */
{    
    float: left;
    width: 240px;
    text-align: center;
}
header nav > ul > li > a { /* 1차메뉴 */
    display: block;
    padding: 20px 0;
    font-size: 20px;
}
header nav > ul > li > ul { /*2차 메뉴*/
    display: none;
}
.visual {
    height: 900px;
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
}
.visual h2 {
    padding: 285px 0 25px 0;
    font-size: 45px;
    font-weight: 700;
}
.visual p {
    font-size: 20px;
}
/* 모바일 시작 */
@media screen and (max-width:640px) {
    header {
        height: 45px;
    }
    header h1 {
        margin: 16px 0 0 0;
    }
    header h1 a {
        width: 60px;
        height: 15px;
    }
    header nav {
        margin: 0;
    }
    header nav .gnb_open {
        display: block;
        padding: 0 0 0 10px;
        height: 45px;
    }
    header nav .gnb_open span {
        display: none;
    }
    header nav .gnb_open i {
        font-size: 18px;
        margin: 12px 0 0 0;
        font-weight: 300;
    }
    header nav > ul > li    /* 1차메뉴 li */
    {    
        display: none;
    }
}
/* header meida 모바일 종료*/

/* 모바일 시작 */
@media screen and (max-width:640px) {
    .visual {
        height: auto;
        text-align: center;
    }
    .visual h2 {
        padding: 184px 0 167px 0;
        font-size: 25px;
    }
    .visual h2 span {
        display: block;
    }
    .visual p {
        display: none;
    }
}
/* 모바일 종료 */

.product {
    margin: 182px 0 0 0;
}
.product h2 {
    position: sticky;
    left: 0;
    top: 0;
    float: left;
    font-size: 50px;
    font-weight: 700;
}
.product h2 span { /* pc에서만 줄바꿈 */
    display: block;
}
.product .list {
    margin-left: 440px;
}
.product .list ul li {
    width: 400px;
    margin:  0 0 57px 0;
}
.product .list ul li:nth-child(1),
.product .list ul li:nth-child(3),
.product .list ul li:nth-child(5){
    float: left;
}
.product .list ul li:nth-child(2),
.product .list ul li:nth-child(4) {
    float: right;
}
.product .list ul li:nth-child(2) {
    margin-top: 191px;
}
.product .list ul li a {
    display: block;
}
.product .list ul li a strong {
    display: block;
    margin: 17px 0 14px 0;
    font-size: 25px;
    font-weight: 300;
    /* 제목 2줄 */
    line-height: 1,5;
    height: 3em;
    overflow: hidden;
}
.product .list ul li a span {
    display: block;
    /* 제목 3줄 */
    line-height: 1,5;
    height: 6em;
    overflow: hidden;
}
.product .list ul li a i {
    margin: 24px 0 0 0;
    font-size: 24px;
}

/* 모바일 시작 */
@media screen and (max-width:640px) {
    .product {
        margin: 49px 0 0 0;
    }
    .product h2 {
        position: relative;
        left: auto;
        top: auto;
        float: none;
        font-size: 20px;
    }
    .product h2 span { /* pc에서만 줄바꿈 */
        display: inline;
    }
    .product .list {
        overflow-y: hidden;
        overflow-x: auto;
        width:  calc(100% + 30);
        margin-left: 0;
    }
    .product .list ul { /* (250+20)*5 = 1350 */
        width: 1350px;
        padding: 14px 0; /* 스크롤바가 콘텐츠 바로 아래 생선되는 것을 막기 위해 */
    }
    .product .list ul li {
        width: 250px;
        margin:  0 20px 0 0;
    }
    .product .list ul li:nth-child(2),
    .product .list ul li:nth-child(4) {
        float: left;
    }
    .product .list ul li:nth-child(2) {
        margin-top: 0;
    }
    .product .list ul li a img {
        width: 100%;
    }
    .product .list ul li a strong {
        margin: 18px 0 11px 0;
        font-size: 15px;
    }
    .product .list ul li a span {
        margin: 0 0 10px 0;
    }
    .product .list ul li a i {
        font-size: 24px;
    }
}
/*모바일 종료*/

.brand {
    padding: 0 0 160px 0;
    margin: 17px 0 0 0;
    background-color: #f7f7f7;
    text-align: center;
}
.brand h2 {
    padding: 80px 0 88px 0;
    font-size: 25px;
    font-weight: 700;
}
.brand h2 strong {
    display: block;
    font-size: 15px;
    font-weight: 400;
}
.brand ul li {
    position: relative; /* after 정렬의 기준점 */
    float: left;
    width: 290px;
    margin: 0 40px 0 0;
}
.brand ul li:last-child {
    margin-right: 0;
}
.brand ul li::after {
    position: absolute;
    right: -20px;
    top: 0;
    width: 1px;
    height: 85px;
    background-color: #b7b7b7;
    content: "";
}
.brand ul li:last-child:after {
    display: none;
}
.brand ul li i {
    font-size: 25px;
    color: #666;
}
.brand ul li h3 {
    padding: 10px 0 13px 0;
    font-size: 15px;
    font-weight: 700;
}


/*모바일 시작*/
@media screen and (max-width:640px) {
    .brand {
        padding: 0 0 20px 0;
        margin: 52px 0 0 0;
    }
    .brand h2 {
        padding: 52px 0 34px 0;
        font-size: 20px;
    }
    .brand h2 strong {
        display: none;
    }
    .brand h2 span {
        display: block;
    }
    .brand ul li {
        width: 50%;
        padding: 22px 0 32px 0;
        margin: 0 0 0 0;
    }
    .brand ul li::after {
        right: 0;
        top: 0;
        height: 100%;
    }
    .brand ul li:nth-child(1):after {
        top: 20px;
        height: calc(100% - 20px);
    }
    .brand ul li:nth-child(3):after {
        top: auto;
        bottom: 30px;
        height: calc(100% - 20px);
    }
    .brand ul li:nth-child(2):after {
        display: none;
    }
    .brand ul li:nth-child(3)::before,
    .brand ul li:nth-child(4)::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        content: "";
    }
    .brand ul li i {
        font-size: 20px;
    }
    .brand ul li h3 {
        padding: 7px 0 7px 0;
        font-size: 14px;
    }
}
/* 모바일 종료 */

.service ul li {
    float: left;
    width: 33.33%;
    /* 10/3 = 33.333333 인데 반올림해서 33.34%을 주면 3개가 안나옴
        33.33*3 = 100 이하여야 함 */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
}
.service ul li.how {
    background-image: url(../images/service01.png);
}
.service ul li.store {
    background-image: url(../images/service02.png);
}
.service ul li.color {
    background-image: url(../images/service03.png);
}
.service ul li a {
    display: block;
    height: 329px;
    padding: 200px 0 0 150px;
}
.service ul li a span {
    display: block;
    font-size: 13px;
}
.service ul li a strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
}
.service ul li a i {
    display: block;
    font-size: 13px;
}

/* 모바일 시작 */
@media screen and (max-width:640px) {
    .service ul li {
        float: none;
        width: auto;
    }
    .service ul li a {
        height: 130px;
        padding: 30px 0 0 20px;
    }
    .service ul li a strong {
        margin: 0 0 9px 0;
        font-size: 20px;
    }
    .service ul li a i {
        font-size: 20px;
    }
}
/* 모바일 종료 */

aside {
    position: fixed;
    bottom: 147px;
    right: 20px;
}
aside button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #1d1d1d;
    color: #fff;
    text-align: center;
    padding: 0 0 ;
}
aside button i {
    font-size: 20px;
}
aside button span {
    font-size: 13px;
    font-weight: 700;
}

/* 모바일 시작 */

@media screen and (max-width:1400px) {
    aside {
        position: fixed;
        bottom: 147px;
        right: 20px;
    }
    aside button {
        width: 50px;
        height: 50px;
        border-radius: 25px;
        background-color: #1d1d1d;
        color: #fff;
        text-align: center;
        padding: 0 0 ;
    }
    aside button i {
        font-size: 20px;
    }
    aside button span {
        font-size: 13px;
        font-weight: 700;
    }
}

/* 모바일 종료 */