@import url(default.css);
header {
    height: 100px;
    padding: 0 40px;
}
header h1 {
    float: left;
    margin: 25px 0 0 0;
}
header nav {
    float: right;
}
header nav ul {
    float: left;
    margin: 0 55px 0 0;
}
header nav ul li {
    float: left;
}
header nav ul li a {
    display: block;
    padding: 35px 35px;
    color: #1d1d1d;
    font-size: 22px;
    font-weight: 700;
}
header nav .market {
    float: left;
    display: block;
    padding: 5px 22px 5px 47px;
    margin: 34px 0 0 10px;
    border: 1px solid #13A94F;
    border-radius: 22px;
    background-image: url(../images/market_ico.png);
    background-position: left 26px top 8px;
    background-repeat: no-repeat;
    color: #13A94F;
    font-size: 18px;
    font-weight: 700;
}
.category .tit {
    color: #1d1d1d;
}

.category .tit strong {
    display: block;
    margin: 110px 0 0 0;
    font-weight: 700;
}
.category .tit h2 {
    margin: 0 0 40px 0;
    line-height: 1.1; /* strong과 h2 사이의 행간 때문에 발생한 여백 삭제*/
    font-size: 50px;
    font-weight: 300;
}
.category ul li {
    float: left;
    width: 240px;
    margin: 0 20px 0 0;
}
/* li중에 마지막 li를 선택 */
.category ul li:last-child {
    margin-right: 0;
}
.category ul li a {
    display: block;
}
.category ul li a img {
    width: 100%;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
.category ul li a strong {
    display: block;
    margin: 14px 0 0 0;
    font-weight: 400;
}
@media screen and (max-width:450px) {
    .category .tit strong {
        display: block;
        margin: 50px 0 0 0;
    }
    .category .tit h2 {
        font-size: 30px;
    }
    .category ul li {
        width: 48%;
        margin: 0 4% 0 0;
    }
    .category ul li:nth-child(2),  .category ul li:nth-child(4){
        margin-right: 0;
    }
    .category ul li:last-child {
        display: none;
    }
    .category ul li a img {
        width: 100%;
    }
    .category ul li a strong {
        margin: 14px 0 15px 0;
    }
} /* madia 종료 */
.network {
    margin: 138px 0 0 0;
    height: 505px;
    background-image: url(../images/network_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
}
.network h2 {
    padding: 160px 0 0 0;
    line-height: 1.25;
    font-size: 15px;
    font-weight: 100;
}
.network p {
    margin: 10px 0 44px 0;
    font-size: 30px;
    font-weight: 400;
}
.network a {
    display: inline-block;
    padding: 10px 16px;
    margin: 0 15px 0 0;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 16px;
}

@media screen and (max-width:450px) {
    .network {
        height: auto;
        padding: 0 0 70px 0;
        margin: 20px 0 0 0;
    }
    .network h2 {
        padding: 90px 0 0 0;
        line-height: 1.25;
    }
    .network p {
        font-size: 10px;
    }
    .network a {
        padding: 5px 15px;
    }
}