@import url('default.css');
@import url('common.css');
@import url('contents.css');

/* 서브 레이아웃 - sub_visual, 서브메뉴 등의 서브 공통 디자인 */

.sub_visual {
    height: 350px;
    background-image: url(../images/sub/sub01_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
    sub페이지는 1차메뉴마다 배경이미지교체됨
    sub1/sub2 - 메뉴마다 별도의 class를 추가
    --> 그래도 기본적으로 sub_visual에는 
        배경이미지를 하나 지정해야함
        대부분 회사소개의 배경을 줌.
 */
.sub_visual.sub1 {
    background-image: url(../images/sub/sub01_bg.png);
}
.sub_visual.sub2 {
    background-image: url(../images/sub/sub02_bg.png);
}
.sub_visual.sub3 {
    background-image: url(../images/sub/sub03_bg.png);
}
.sub_visual.sub4 {
    background-image: url(../images/sub/sub04_bg.png);
}
.sub_visual.sub5 {
    background-image: url(../images/sub/sub05_bg.png);
}
.sub_visual.sub6 {
    background-image: url(../images/sub/sub06_bg.png);
}

.sub_visual p {
    padding: 206px 0 0 0;
    color: #fff;
    font-size: 35px;
    line-height: 1.2;
}

@media screen and (max-width:640px){ 
    .sub_visual {
        height: 150px;
        /* sub전체에 영향을 끼치는 요소라 
          페이지마다 높이가 다르면 안됨. */
    }
    .sub_visual p {
        padding: 84px 0 0 0;
        font-size: 17px;
    }
}

.lnb {
    position: relative;
    z-index: 90;
    /* lnb가 콘텐츠에 깔리지 않도록 하기 위해서 z-index를 줌
       콘텐츠에 z-index를 주면 절대 90이상을 주면 X */
    height: 45px;
    line-height: 45px;
    /* 높이가 제한되고 요소들이 좌우로 배치되어 있는 디자인은
       높이만큼 행간을 줌 */
    background-color: #ED1C24;
    color: #FFF;
}
.lnb .lnb_wrap {
    display: flex;
    justify-content: space-between
}
.lnb .menu {
    display: flex;
}
.lnb .menu .home {
    display: block;
    width: 50px;
    border-left: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.lnb .menu .home i {
    display: block;
    margin: 10px 0 0 0;
}
.lnb .menu .depth {
    position: relative;
    width: 207px;
    border-right: 1px solid rgba(255,255,255,0.4);
}
.lnb .menu .depth button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* button안에 있는 span과 i를 좌우 끝에 배치 - 위아래 가운데  */
    width: 100%;
    padding: 0 11px 0 20px;
}
.lnb .menu .depth button i {
    font-size: 22px;
}
.lnb .menu .depth ul {
    display: none;
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    color: #3D3D3D;
}
.lnb .menu .depth ul li a {
    display: block;
    padding: 0 0 0 20px;
    line-height: 40px;
}
.lnb .menu .depth ul li.now a,
.lnb .menu .depth ul li a:hover {
    color: #ED1C24;
    font-weight: 700;
}
.lnb .menu .depth .btn_close {
    display: none;
}
/*
    1차메뉴/2차메뉴가 열렸을때
    1. btn_open 사라짐
    2. ul이 나타남
    3. btn_close 나타남
*/
.lnb .menu .depth.open .btn_open {
    display: none;
}
.lnb .menu .depth.open ul {
    display: block;
}
.lnb .menu .depth.open .btn_close {
    display: flex;
}
.lnb .lnb_btn ul {
    display: flex;
}
.lnb .lnb_btn ul li {
    width: 50px;
    border-left: 1px solid rgba(255,255,255,0.4);
    text-align: center;
}
.lnb .lnb_btn ul li:last-child {
    border-right: 1px solid rgba(255,255,255,0.4);
}
.lnb .lnb_btn ul li button {
    width: 100%;
    height: 45px;
    overflow: hidden;
    display: block;
}
.lnb .lnb_btn ul li button i {
    margin: 8px 0 0 0;
    font-size: 24px;
}
@media screen and (max-width:640px){ 
    .lnb {
        height: 35px;
        line-height: 35px;
    }
    .lnb .wrapper {
        margin: 0; /* wrapper의 기본 여백을 lnb에서는 삭제 */
    }
    .lnb .menu {
        width: calc(100% - 35px);
    }
    .lnb .menu .home {
        width: 35px;
        border-left: 0;
    }
    .lnb .menu .home i {
        margin: 8px 0 0 0;
        font-size: 18px;
    }
    /*
        lnb_wrap - 100%
            - menu     100% - 35px
                - 자식에게는 menu의 넓이가 100%
                - home 35px 고정 
                - depth 1차 메뉴  : (100% - 35px)의 절반
                - depth 2차 메뉴
            - lnb_btn  35px 고정 

        home, lnb_btn의 넓이는 고정 
        depth의 넓이는 가변 - 전체넓이(100%)에서 home, lnb_btn의 넓이를 뺀 나머지의 절반씩
    */
    .lnb .menu .depth {
        width: calc((100% - 35px) / 2);
    }
    .lnb .menu .depth button {
        padding: 0 5px 0 11px;
    }
    .lnb .menu .depth button i {
        font-size: 18px;
    }
    .lnb .menu .depth ul {
        top: 35px;
    }
    .lnb .menu .depth ul li a {
        padding: 0 0 0 18px;
        line-height: 35px;
    }
    .lnb .lnb_btn ul li.print {
        display: none; /* 모바일 인쇄 버튼 없음 */
    }
    .lnb .lnb_btn ul li {
        width: 35px;
        border-left: 0;
    }
    .lnb .lnb_btn ul li:last-child {
        border-right: 0;
    }
    .lnb .lnb_btn ul li button {
        height: 35px; /* lnb 높이 */
    }
    .lnb .lnb_btn ul li button i {
        font-size: 18px;
    }
}/* lnb 반응형 종료 */

.container {
    min-height: 300px;
    /* 
        초기에 코딩할때 메뉴별 빈페이지를 만들고 코딩함 
        물론 나중에 콘텐츠가 들어가겠지만, 
        초기에 콘텐츠가 없으면 header/footer에 열리는 콘텐츠가 짤리는 현상이 발생한다.
        그래서 최소높이를 주고 코딩함.
    */
}
.container .sub_tit {
    margin: 70px 0 56px 0;
}
.container .sub_tit h2 {
    color: #1D1D1D;
    font-size: 40px;
    font-weight: 700;
}
.container #contents {
    margin: 0 0 100px 0;
}

@media screen and (max-width:640px){ 
    .container .sub_tit {
        margin: 36px 0 32px 0;
    }
    .container .sub_tit h2 {
        font-size: 25px;
        text-align: center;
    }
    .container #contents {
        margin: 0 0 70px 0;
    }
}